<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Links Keep App</h1>
            <h2 class="mb-5">
                <em>Guarda tus links Favoritos</em>
            </h2>
            <a href="/signin" class="btn btn-primary">
                Comienza!
            </a>
        </div>
    </header>
</main>